---
layout: page
title: Calendar
header: Calendar by calendar
sidebar: false
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script>
window.events = [
  {% for post in site.posts %}
  {
    "title": "{{ post.title }}",
    "starts_at": moment("{{ post.starts_at }}"),
    "ends_at": moment("{{ post.ends_at }}"),
    "location": "{{ post.location}}",
    "permalink": "{{ post.url }}"
  }
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
]
</script>

{% include weekday.html %}

<div id="calendar" v-cloak>
  {% raw %}
  <div class="controls" v-cloak>
    <div class="btn-group view-picker">
      <div class="btn" v-on:click="displayMonth()" v-bind:class="{selected: display=='month'}">Month</div>
      <div class="btn" v-on:click="displayWeek()" v-bind:class="{selected: display=='week'}">Week</div>
    </div>
    <div class="btn-group">
      <div class="btn-group" role="group">
        <button type="button" class="btn dropdown-toggle" style="background-color: #FFF" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currentMonthName }}, {{ currentYear }}&nbsp;
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="text-align: left;">
          <li><a v-on:click="goToMonth(6,2017)">July, 2017</a></li>
          <li><a v-on:click="goToMonth(7,2017)">August, 2017</a></li>
          <li><a v-on:click="goToMonth(8,2017)">September, 2017</a></li>
          <li><a v-on:click="goToMonth(9,2017)">October, 2017</a></li>
          <li><a v-on:click="goToMonth(10,2017)">November, 2017</a></li>
          <li><a v-on:click="goToMonth(11,2017)">December, 2017</a></li>
          <li><a v-on:click="goToMonth(0,2018)">January, 2018</a></li>
          <li><a v-on:click="goToMonth(1,2018)">February, 2018</a></li>
          <li><a v-on:click="goToMonth(2,2018)">March, 2018</a></li>
          <li><a v-on:click="goToMonth(3,2018)">April, 2018</a></li>
        </ul>
      </div>
      <div class="btn" v-on:click="goToToday">Today</div>
      <div id="previous-month" class="btn" v-on:click="previous">&larr;</div>
      <div id="next-month" class="btn" v-on:click="next">&rarr;</div>
    </div>
  </div>
  <table v-if="display=='month'" v-cloak>
    <thead>
      <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="week in weeks">
        <td v-for="day in [0,1,2,3,4,5,6]" v-bind:class="{today: isToday(date(currentMonth, week, day))}">
          <div class="date">{{ date(currentMonth, week, day) }}</div>
          <ul v-if="date(currentMonth, week, day) != ''">
            <li v-for="event in eventsOnDay(date(currentMonth, week, day))" class="event">
              <a v-bind:href="event.permalink">{{ event.title }}</a>
            </li>
        </td>
      </tr>
    </tbody>
  </table>
  <div v-if="display=='week'" class="week" v-cloak>
    <h1>
      Events happening {{ formatDate(dateO(currentMonth, currentWeek, 0), 'short') }} - {{ formatDate(dateO(currentMonth, currentWeek, 6), 'short') }}
    </h1>
    <div class="btn-group mobile-controls">
      <div id="previous-month" class="btn" v-on:click="previous">&larr;&nbsp; Previous</div>
      <div id="next-month" class="btn" v-on:click="next">Next&nbsp; &rarr;</div>
    </div>
    <ul class="event-list">
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 0), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 0))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 1), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 1))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 2), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 2))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 3), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 3))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 4), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 4))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 5), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 5))"></weekday>
      <weekday :date="formatDate(dateO(currentMonth, currentWeek, 6), 'long')"
               :events="eventsOnDate(dateO(currentMonth, currentWeek, 6))"></weekday>
    </ul>
  </div>

</div>
{% endraw %}
<script src="assets/js/calendar.js"></script>
