<div class="img">
  <img src="{{ ASSET_PATH }}../../../images/vel-phillips.png">
</div>

<p>
  Vel Phillips, the first woman and the first African-American member of the Common Council in Milwaukee, speaking in the council in 1970.
<a href="http://collections.lib.uwm.edu/cdm/singleitem/collection/march/id/2337/rec/138" target="_BLAINK">Image courtesy UWM Library Archives</a>
</p>

<div class="img">
  <img  src="{{ ASSET_PATH }}../../../images/prentice-mckinney.png">
</div>

<p>
  Prentice McKinney being interviewed by the press after the Freedom House Fire, which was set by an officer. Alongside him are fellow Youth Council Commandos. Image courtesy UWM Library Archives
</p>

<div class="img">
  <img  src="{{ ASSET_PATH }}../../../images/father-gropp.png">
</div>

<p>
  Richard Green, Marian “Red” Glass and Father Groppi at an NAACP March in 1968. Image courtesy UWM Library Archives
</p>
