<div class="img" title="Our Inspiration">
  <img src="{{ ASSET_PATH }}../../../images/confrontation.png">
</div>

<p class="pink">
  1967 Members of the Milwaukee NAACP Youth Council. Image courtesy UWM Library Archives
</p>

<p>
  ABOUT THE ORIGINAL MARCHERS: Beginning on August 28, 1967, the Milwaukee NAACP Youth Council/Commandos, Father James Groppi, Alderperson Vel Phillips, and a host of activists and community members marched for over 200 consecutive nights to demand an end to housing segregation.
</p>
<p>
  <a href="/history">MORE HISTORY  >></a>
</p>

<div class="img" title="Explore More History">
  <img  src="{{ ASSET_PATH }}../../../images/naacp-youth-council.png">
</div>

<p class="pink">
  NAACP Youth Council Members. Image courtesy UWM Library Archives
</p>

<p>
  For a deeper exploration of this history, read Commanding a Movement: The Youth Council Commandos’ Quest for Quality Housing by Erica Metcalfe.
</p>
